USE [FootballTicketOffice]
GO
/****** Object:  Table [dbo].[Client]    Script Date: 06.06.2021 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Client](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Birthday] [date] NULL,
	[Email] [nvarchar](255) NULL,
	[Phone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Client] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoryAuthorize]    Script Date: 06.06.2021 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoryAuthorize](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HistoryAuthorize] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Match]    Script Date: 06.06.2021 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstTeamId] [int] NOT NULL,
	[SecondTeamId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_Match] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 06.06.2021 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Team]    Script Date: 06.06.2021 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Team](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Team] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 06.06.2021 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price] [money] NOT NULL,
	[ClientId] [int] NOT NULL,
	[Sector] [int] NOT NULL,
	[Row] [int] NOT NULL,
	[Site] [int] NOT NULL,
	[PurchaseDate] [datetime] NOT NULL,
	[MatchId] [int] NOT NULL,
	[CashierId] [int] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 06.06.2021 16:20:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Client] ON 

INSERT [dbo].[Client] ([Id], [FirstName], [LastName], [Birthday], [Email], [Phone]) VALUES (1, N'Иосиф', N'Голубев', CAST(N'1982-05-06' AS Date), N'smcnabb@att.net', N'7(78)972-73-11 ')
INSERT [dbo].[Client] ([Id], [FirstName], [LastName], [Birthday], [Email], [Phone]) VALUES (2, N'Алла', N'Ермакова', CAST(N'1976-01-22' AS Date), N'whimsy@aol.com', N'7(06)437-13-73 ')
INSERT [dbo].[Client] ([Id], [FirstName], [LastName], [Birthday], [Email], [Phone]) VALUES (3, N'Глеб', N'Селиверстов', CAST(N'1999-06-20' AS Date), N'jigsaw@sbcglobal.net', N'7(20)554-28-68 ')
GO
SET IDENTITY_INSERT [dbo].[Client] OFF
GO
SET IDENTITY_INSERT [dbo].[HistoryAuthorize] ON 

INSERT [dbo].[HistoryAuthorize] ([Id], [UserId], [DateTime], [Status]) VALUES (1, 101, CAST(N'2021-05-13T18:43:45.917' AS DateTime), N'Successful')
INSERT [dbo].[HistoryAuthorize] ([Id], [UserId], [DateTime], [Status]) VALUES (2, 101, CAST(N'2021-05-13T19:13:25.243' AS DateTime), N'Successful')
INSERT [dbo].[HistoryAuthorize] ([Id], [UserId], [DateTime], [Status]) VALUES (3, 2, CAST(N'2021-05-13T19:15:01.873' AS DateTime), N'Successful')
GO
SET IDENTITY_INSERT [dbo].[HistoryAuthorize] OFF
GO
SET IDENTITY_INSERT [dbo].[Match] ON 

INSERT [dbo].[Match] ([Id], [FirstTeamId], [SecondTeamId], [Date]) VALUES (9, 5, 4, CAST(N'2021-06-24T00:00:00.000' AS DateTime))
INSERT [dbo].[Match] ([Id], [FirstTeamId], [SecondTeamId], [Date]) VALUES (10, 4, 1, CAST(N'2021-06-22T00:00:00.000' AS DateTime))
INSERT [dbo].[Match] ([Id], [FirstTeamId], [SecondTeamId], [Date]) VALUES (11, 5, 3, CAST(N'2021-06-13T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Match] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Cashier')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (3, N'Accountant')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Team] ON 

INSERT [dbo].[Team] ([Id], [Title]) VALUES (1, N'Барселона')
INSERT [dbo].[Team] ([Id], [Title]) VALUES (2, N'Арсенал')
INSERT [dbo].[Team] ([Id], [Title]) VALUES (3, N'ЦСКА')
SET IDENTITY_INSERT [dbo].[Team] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([Id], [Price], [ClientId], [Sector], [Row], [Site], [PurchaseDate], [MatchId], [CashierId]) VALUES (1035, 5555.0000, 9, 2, 1, 3, CAST(N'2021-06-06T11:51:02.583' AS DateTime), 12, 6)
INSERT [dbo].[Ticket] ([Id], [Price], [ClientId], [Sector], [Row], [Site], [PurchaseDate], [MatchId], [CashierId]) VALUES (1036, 3124.0000, 28, 6, 4, 3, CAST(N'2021-06-06T11:51:11.330' AS DateTime), 10, 6)
INSERT [dbo].[Ticket] ([Id], [Price], [ClientId], [Sector], [Row], [Site], [PurchaseDate], [MatchId], [CashierId]) VALUES (1037, 3567.0000, 6, 4, 8, 1, CAST(N'2021-06-06T11:51:23.110' AS DateTime), 12, 6)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [FirstName], [LastName], [Login], [Password], [RoleId]) VALUES (1, N'Clareta', N'Hacking', N'chacking', N'4tzqHdkqzo4', 1)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [Login], [Password], [RoleId]) VALUES (2, N'Northrop', N'Mably', N'nmably1', N'ukM0e6', 2)
INSERT [dbo].[User] ([Id], [FirstName], [LastName], [Login], [Password], [RoleId]) VALUES (3, N'Fabian', N'Rolf', N'frolf', N'7QpCwac0yi', 2)
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[HistoryAuthorize]  WITH CHECK ADD  CONSTRAINT [FK_HistoryAuthorize_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HistoryAuthorize] CHECK CONSTRAINT [FK_HistoryAuthorize_User]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_Team_FirstTeam] FOREIGN KEY([FirstTeamId])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_Team_FirstTeam]
GO
ALTER TABLE [dbo].[Match]  WITH CHECK ADD  CONSTRAINT [FK_Match_Team_SecondTeam] FOREIGN KEY([SecondTeamId])
REFERENCES [dbo].[Team] ([Id])
GO
ALTER TABLE [dbo].[Match] CHECK CONSTRAINT [FK_Match_Team_SecondTeam]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Client] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Client] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Client]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Match] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Match] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Match]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_User] FOREIGN KEY([CashierId])
REFERENCES [dbo].[User] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
